body {
    background-color: #f4f4f4;
    font-family: Arial;
}

a:link {
    color: #3498db;
    background-color: transparent;
    text-decoration: none;
}

.task {
    font-size: 18px;
    margin-bottom: 10px;
}

#challenge-task {
    font-weight: bold;
}

