/* 아이콘바*/
.icon-bar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #96D4D4;
    padding: 10px 14px;
    box-sizing: border-box;
}

/* 버튼 자체 */
.hamburger{
    flex: 0 0 72px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* 메뉴 3개에 대한 정보*/
#menu {
    flex: 1;    /* 남은 공간 전부 사용*/
    display: flex;
    justify-content: space-around;    /* 3개를 고르게 배치*/
    align-items: center;
    gap: 12px;    /* 메뉴 사이 최소 간격*/
    margin: 0;
    padding: 0;    
}

/* 햄버거 줄 */
.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
    display: block;
    width: 36px;
    height: 5px;
    margin: 6px auto;
    border-radius: 6px;
    background: #fff;
}
.bar1 {
    top: 0;
}
.bar2 {
    top: 50%;
    transform: translateY(-50%);
}
.bar3 {
    bottom: 0;
}
.hamburger .bar2{ background: #e6aed4; } /* 가운데만 핑크 */

/* 숨길 대상은 dropdown-menu */
.dropdown-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease;
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    margin: 0 10px;
}

/* 토글되면 보이기 */
.dropdown-menu.show{
    max-height: 260px;
    width: flex;
    padding: 12px;
}

.icon-bar #menu a{
    flex: 1;
    font-size: 300%;
    color: white;
    text-align: center;
    padding-left: 1px;
    text-decoration:none;
    white-space: nowrap;    /* 줄바꿈 방지 */
}

.icon-bar #menu a:hover{
    background-color: #333;
    color: #e6aed4;
}

body {
    background-color:#c7f5ff;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    color: #273538;
    margin-bottom: 10px;
}

h2 {
    font-size: 200%;
}

div {
    padding: 2px;
}

ul {
    font-size: 120%;
}

.box {
    position: right;
    width: flex;
}

#group1 {
    background-color: beige;
}

#group2 {
    background-color: wheat;
}

#group3 {
    background-color: whitesmoke;
    height: auto;
}

a:link {
    color: #273538;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #e6aed4;
    background-color: transparent;
    text-decoration: underline;
}

